{% extends 'layout.jinja2' %}

{% block title %}
BGA | Home Page
{% endblock title %}

{% block portfoliocontent %}
<!-- Fullscreen slider navigation arrows -->
			<nav id="nav-arrows">
				<a href="#" class="nav-left hidden"></a>
				<a href="#" class="nav-right"></a>
			</nav>
{% endblock portfoliocontent %}

{% block content %}
<!-- Fullscreen slider -->
				<div id="fullscreen-slider" class="swiper-container">
					<div class="swiper-wrapper">

						<!-- Slide -->
						<div class="swiper-slide overlay overlay-dark-25" style="background-image: url('/img/slides/Golf_course.jpg'))">
							<h1>Courses</h1>
						</div>

						<!-- Slide -->
						<div class="swiper-slide overlay overlay-dark-25" style="background-image: url({{request.static_url('bga:static/img/slides/Golfer_swing.jpg')}})">
							<h1>Golfers</h1>
						</div>

					</div>
				</div>
{% endblock content %}