<!doctype html>
<html lang="{{request.locale_name}}">

<head>

    <!-- Meta -->
    <meta charset="UTF-8">
    <title>{% block title %}No Title{% endblock title%}</title>
    <meta name="keywords" content="Blockchain, Golf, Scorecards">
    <meta name="description" content="Blockchain Golfers Association">
    <meta name="author" content="R6 Themes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{request.static_url('bga:static/img/favicons/favicon.png')}}">
    <link rel="apple-touch-icon" href="{{request.static_url('bga:static/img/favicons/apple-touch-icon.png')}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{request.static_url('bga:static/img/favicons/apple-touch-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{request.static_url('bga:static/img/favicons/apple-touch-icon-114x114.png')}}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{request.static_url('bga:static/css/reset.css')}}">
    <link rel="stylesheet" href="{{request.static_url('bga:static/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{request.static_url('bga:static/css/font-awesome.min.css')}}">
    <link href="http://fonts.googleapis.com/css?family=Raleway:300|Muli:300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{request.static_url('bga:static/css/idangerous.swiper.css')}}">
    <link rel="stylesheet" href="{{request.static_url('bga:static/css/style.css')}}">

</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <!-- Overlay -->
    <div id="overlay"></div>

    <!-- Top header -->
    <div id="top">

        <!-- Sidebar button -->
        <a href="#" id="sidebar-button"></a>

        <!-- Logo -->
        <header id="logo">
            <h1>BGA</h1>
            <h2>Blockchain Golfers Association</h2>
        </header>

	{% block portfoliocontent %}
	{% endblock portfoliocontent %}
    </div>

    <!-- Main wrapper -->
    <div id="main-wrapper">

        <!-- Content -->
        

        {% block content %}
        <p>No Content</p>
        {% endblock content %}


        <!-- Collapsible sidebar -->
        <div id="sidebar">

            <!-- Widget Area -->
            <div id="widgets">

                <!-- Main menu -->
                <nav id="mainmenu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/courses">Courses</a></li>
                        {% if user != None %}
                            <li><a href="/createcourse">Add Course</a></li>
                            <li><a href="/createscore">Add Scorecard</a></li>
                            <li><a href="/login">Profile</a></li>
                            <li><a href="/auth/out">Logout</a></li>
                        {% else %}
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Register</a></li>
                        {% endif %}
                    </ul>
                </nav>

            </div>

            <!-- Copyright -->
            <footer>
                <p class="copyright">© Copyright 2018 Chris Gill</p>
            </footer>

        </div>
    {% block portfoliooverlay %}
    {% endblock portfoliooverlay %}
    </div>
    <!-- JavaScripts -->
    <script type='text/javascript' src="{{request.static_url('bga:static/js/jquery.min.js')}}"></script>
    <script type='text/javascript' src="{{request.static_url('bga:static/js/bootstrap.min.js')}}"></script>
    <script type='text/javascript' src="{{request.static_url('bga:static/js/swiper/idangerous.swiper.min.js')}}"></script>
    <script type='text/javascript' src="{{request.static_url('bga:static/js/masonry/masonry.pkgd.min.js')}}"></script>
    <script type='text/javascript' src="{{request.static_url('bga:static/js/isotope/jquery.isotope.min.js')}}"></script>
    <script type='text/javascript' src="{{request.static_url('bga:static/js/custom.js')}}"></script>

</body>

</html>