{% extends 'layout.jinja2' %}

{% block title %}
BGA | Login
{% endblock title %}

{% block content %}
<!-- Content -->
<div id="content">

	<!-- Fluid container -->
	<div class="container-fluid">
	
		<!-- Page heading -->
		<div id="heading" class="row">
			<div class="filter col-12">
				<header>
					<h1>Login</h1>
				</header>
			</div>
		</div>

		<!-- Main content -->
		<div class="row">
			<div class="main-column col-12">

				<div class="inner">
				<!-- Login -->
				{% if request.authenticated_userid %}
					Welcome <strong>{{request.authenticated_userid}}</strong> ::
					<a href="{{request.route_url('auth',action='out')}}">Sign Out</a>
				{% else %}
					<form id="post-comment" action="{{request.route_url('auth',action='in')}}" method="post">
						<div class="row">
							<div class="form-group col-6">
								<label for="name">Username</label>
								<input type="text" name="username" class="form-control" placeholder="Username">
							</div>
							<div class="form-group col-6">
								<label for="password">Password</label>
								<input type="password" name="password" class="form-control" placeholder="Password">
							</div>
						</div>
						<button type="submit" class="btn btn-color"><i type="submit" class="glyphicon glyphicon-send"></i>Login</button>
					</form>
				{% endif %}
				</div>

			</div>
			
		</div>

	</div>

</div>
{% endblock content%}